body {
    font-family: "Times New Roman", serif;
    background-color: white;
    color: black;
}

.content {
    max-width: 600px;
    margin: 30px auto;
    padding: 60px 80px;
    border: 1px solid #ccc;
    line-height: 1.5;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 34px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #006eb6;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 40px;
}

p {
    font-size: 17px;
}

.italic {
    font-style: italic;
    margin-top: 25px;
}

li {
    font-size: 17px;
    margin-bottom: 18px;
}

img {
    display: block;
    width: 150px;
    margin: 45px auto 0;
}