body {
    font-family: Georgia, serif;
    background-color: white;
    color: black;
}

.content {
    max-width: 600px;
    margin: 50px auto;
    padding: 80px;
    border: 1px solid gray;
    line-height: 1.6;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #006eb6;
    font-size: 14px;
    letter-spacing: 3px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.italic {
    font-style: italic;
}

li {
    margin-bottom: 20px;
}

img {
    display: block;
    width: 150px;
    margin: 30px auto 0;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: #7ec7f5;
}